<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MESSAGES</key>
	<array>
		<string>soort:bericht</string>
		<string>soort:bericht</string>
	</array>
	<key>APPLICATIONS</key>
	<array>
		<string>soort:applicatie</string>
		<string>soort:applicaties</string>
		<string>soort:app</string>
		<string>soort:apps</string>
	</array>
	<key>CONTACT</key>
	<array>
		<string>soort:contact</string>
		<string>soort:contacten</string>
		<string>soort:contactpersoon</string>
		<string>soort:contactpersonen</string>
		<string>soort:personen</string>
	</array>
	<key>DOCUMENTS</key>
	<array>
		<string>soort:document</string>
		<string>soort:documenten</string>
	</array>
	<key>DIRECTORIES</key>
	<array>
		<string>soort:map</string>
		<string>soort:mappen</string>
	</array>
	<key>EMAIL</key>
	<array>
		<string>soort:e‑mail</string>
		<string>soort:e‑mails</string>
		<string>soort:mail</string>
		<string>soort:mails</string>
		<string>soort:e‑mailbericht</string>
		<string>soort:e‑mailberichten</string>
		<string>soort:mailbericht</string>
		<string>soort:mailberichten</string>
	</array>
	<key>EVENT</key>
	<array>
		<string>soort:activiteit</string>
		<string>soort:activiteiten</string>
	</array>
	<key>TODO</key>
	<array>
		<string>soort:herinnering</string>
		<string>soort:herinneringen</string>
	</array>
	<key>EVENT_TODO</key>
	<array>
		<string>soort:activiteiten en herinneringen</string>
		<string>soort:herinneringen en activiteiten</string>
		<string>soort:activiteit of herinnering</string>
		<string>soort:herinnering of activiteit</string>
	</array>
	<key>IMAGES</key>
	<array>
		<string>soort:afbeelding</string>
		<string>soort:afbeeldingen</string>
	</array>
	<key>MOVIES</key>
	<array>
		<string>soort:film</string>
		<string>soort:films</string>
	</array>
	<key>MUSIC</key>
	<array>
		<string>soort:muziek</string>
		<string>soort:nummer</string>
		<string>soort:nummers</string>
		<string>soort:audio</string>
	</array>
	<key>NEXT_MONTH</key>
	<array>
		<string>datum:volgende maand</string>
	</array>
	<key>NEXT_WEEK</key>
	<array>
		<string>datum:volgende week</string>
	</array>
	<key>NEXT_YEAR</key>
	<array>
		<string>datum:volgend jaar</string>
	</array>
	<key>PDF</key>
	<array>
		<string>soort:pdf</string>
		<string>soort:pdf's</string>
		<string>soort:pdf-document</string>
		<string>soort:pdf-documenten</string>
	</array>
	<key>SYSTEM_PREFS</key>
	<array>
		<string>soort:systeemvoorkeur</string>
		<string>soort:systeemvoorkeuren</string>
		<string>soort:voorkeur</string>
		<string>soort:voorkeuren</string>
		<string>soort:systeeminstellingen</string>
		<string>soort:systeeminstelling</string>
		<string>soort:instellingen</string>
		<string>soort:instelling</string>
	</array>
	<key>THIS_MONTH</key>
	<array>
		<string>datum:deze maand</string>
	</array>
	<key>THIS_WEEK</key>
	<array>
		<string>datum:deze week</string>
	</array>
	<key>THIS_YEAR</key>
	<array>
		<string>datum:dit jaar</string>
	</array>
	<key>TODAY</key>
	<array>
		<string>datum:vandaag</string>
	</array>
	<key>TOMORROW</key>
	<array>
		<string>datum:morgen</string>
	</array>
	<key>YESTERDAY</key>
	<array>
		<string>datum:gisteren</string>
	</array>
	<key>DATE</key>
	<array>
		<string>datum:</string>
	</array>
	<key>BOOKMARKS</key>
	<array>
		<string>soort:bladwijzer</string>
		<string>soort:bladwijzers</string>
		<string>soort:url</string>
		<string>soort:url's</string>
		<string>soort:webpagina</string>
		<string>soort:webpagina's</string>
	</array>
	<key>FONTS</key>
	<array>
		<string>soort:lettertype</string>
		<string>soort:lettertypen</string>
		<string>soort:lettertypes</string>
	</array>
	<key>PRESENTATIONS</key>
	<array>
		<string>soort:presentaties</string>
		<string>soort:presentatie</string>
	</array>
	<key>SPREADSHEETS</key>
	<array>
		<string>soort:spreadsheets</string>
		<string>soort:spreadsheet</string>
	</array>
	<key>SOURCE</key>
	<array>
		<string>soort:ontwikkelaar</string>
		<string>soort:bron</string>
	</array>
	<key>TEXT</key>
	<array>
		<string>soort:tekst</string>
	</array>
	<key>TIPS</key>
	<array>
		<string>soort:tips</string>
		<string>soort:tip</string>
	</array>
	<key>HELP</key>
	<array>
		<string>soort:help</string>
	</array>
</dict>
</plist>
