<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MESSAGES</key>
	<array>
		<string>ประเภท:ข้อความ</string>
		<string>ประเภท:สาสน์</string>
	</array>
	<key>APPLICATIONS</key>
	<array>
		<string>ประเภท:แอปพลิเคชัน</string>
		<string>ประเภท:แอพพลิเคชั่น</string>
		<string>ประเภท:แอป</string>
		<string>ประเภท:แอพ</string>
	</array>
	<key>CONTACT</key>
	<array>
		<string>ประเภท:รายชื่อ</string>
		<string>ประเภท:ผู้ติดต่อ</string>
		<string>ประเภท:ผู้คน</string>
	</array>
	<key>DOCUMENTS</key>
	<array>
		<string>ประเภท:เอกสาร</string>
		<string>ประเภท:เอกสารประกอบ</string>
	</array>
	<key>DIRECTORIES</key>
	<array>
		<string>ประเภท:โฟลเดอร์</string>
		<string>ประเภท:แฟ้ม</string>
	</array>
	<key>EMAIL</key>
	<array>
		<string>ประเภท:อีเมล</string>
		<string>ประเภท:อีเมล์</string>
		<string>ประเภท:เมล</string>
		<string>ประเภท:ข้อความเมล</string>
		<string>ประเภท:ข้อความอีเมล์</string>
	</array>
	<key>EVENT</key>
	<array>
		<string>ประเภท:กิจกรรม</string>
		<string>ประเภท:อีเวนต์</string>
	</array>
	<key>TODO</key>
	<array>
		<string>ประเภท:เตือนความจำ</string>
		<string>ประเภท:การเตือนความจำ</string>
	</array>
	<key>EVENT_TODO</key>
	<array>
		<string>ประเภท:กิจกรรม &amp; เตือนความจำ</string>
		<string>ประเภท:เตือนความจำ &amp; กิจกรรม</string>
		<string>ประเภท:กิจกรรม และ เตือนความจำ</string>
		<string>ประเภท:เตือนความจำ และ กิจกรรม</string>
		<string>ประเภท:กิจกรรม หรือ เตือนความจำ</string>
		<string>ประเภท:เตือนความจำ หรือ กิจกรรม</string>
	</array>
	<key>IMAGES</key>
	<array>
		<string>ประเภท:ภาพ</string>
		<string>ประเภท:รูปภาพ</string>
	</array>
	<key>MOVIES</key>
	<array>
		<string>ประเภท:ภาพยนตร์</string>
		<string>ประเภท:หนัง</string>
	</array>
	<key>MUSIC</key>
	<array>
		<string>ประเภท:ดนตรี</string>
		<string>ประเภท:เพลง</string>
		<string>ประเภท:เสียงเพลง</string>
		<string>ประเภท:เสียง</string>
	</array>
	<key>NEXT_MONTH</key>
	<array>
		<string>วันที่:เดือนหน้า</string>
	</array>
	<key>NEXT_WEEK</key>
	<array>
		<string>วันที่:สัปดาห์หน้า</string>
	</array>
	<key>NEXT_YEAR</key>
	<array>
		<string>วันที่:ปีหน้า</string>
	</array>
	<key>PDF</key>
	<array>
		<string>ประเภท:pdf</string>
		<string>ประเภท:ไฟล์ pdf</string>
		<string>ประเภท:เอกสาร pdf</string>
		<string>ประเภท:เอกสารไฟล์ pdf</string>
	</array>
	<key>SYSTEM_PREFS</key>
	<array>
		<string>ประเภท:การตั้งค่าระบบ</string>
		<string>ประเภท:การปรับค่าระบบ</string>
		<string>ประเภท:การปรับแต่งระบบ</string>
		<string>ประเภท:การตั้งค่า</string>
		<string>ประเภท:การปรับค่า</string>
		<string>ประเภท:การปรับแต่ง</string>
		<string>ประเภท:ค่าติดตั้ง</string>
		<string>ประเภท:การตั้งค่าระบบ</string>
		<string>ประเภท:ค่าติดตั้งระบบ</string>
		<string>ประเภท:การติดตั้ง</string>
		<string>ประเภท:การปรับแต่งค่า</string>
	</array>
	<key>THIS_MONTH</key>
	<array>
		<string>วันที่:เดือนนี้</string>
	</array>
	<key>THIS_WEEK</key>
	<array>
		<string>วันที่:สัปดาห์นี้</string>
	</array>
	<key>THIS_YEAR</key>
	<array>
		<string>วันที่:ปีนี้</string>
	</array>
	<key>TODAY</key>
	<array>
		<string>วันที่:วันนี้</string>
	</array>
	<key>TOMORROW</key>
	<array>
		<string>วันที่:วันพรุ่งนี้</string>
	</array>
	<key>YESTERDAY</key>
	<array>
		<string>วันที่:พรุ่งนี้</string>
	</array>
	<key>DATE</key>
	<array>
		<string>วันที่:</string>
	</array>
	<key>BOOKMARKS</key>
	<array>
		<string>ประเภท:ที่คั่นหน้า</string>
		<string>ประเภท:ที่คั่นหน้าเว็บ</string>
		<string>ประเภท:url</string>
		<string>ประเภท:URL</string>
		<string>ประเภท:หน้าเว็บ</string>
		<string>ประเภท:เว็บเพจ</string>
	</array>
	<key>FONTS</key>
	<array>
		<string>ประเภท:แบบอักษร</string>
		<string>ประเภท:ฟอนต์</string>
	</array>
	<key>PRESENTATIONS</key>
	<array>
		<string>ประเภท:งานนำเสนอ</string>
		<string>ประเภท:การนำเสนอ</string>
	</array>
	<key>SPREADSHEETS</key>
	<array>
		<string>ประเภท:กระดาษคำนวณ</string>
		<string>ประเภท:สเปรดชีต</string>
	</array>
	<key>SOURCE</key>
	<array>
		<string>ประเภท:นักพัฒนา</string>
		<string>ประเภท:ซอร์ส</string>
	</array>
	<key>TEXT</key>
	<array>
		<string>ประเภท:ข้อความ</string>
	</array>
	<key>TIPS</key>
	<array>
		<string>ประเภท:เคล็ดลับ</string>
		<string>ประเภท:เคล็ด</string>
	</array>
	<key>HELP</key>
	<array>
		<string>ประเภท:วิธีใช้</string>
	</array>
</dict>
</plist>
