<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>33</integer>
		<key>UnicodeCharEnd</key>
		<integer>129</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>141</integer>
		<key>UnicodeCharEnd</key>
		<integer>141</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>143</integer>
		<key>UnicodeCharEnd</key>
		<integer>144</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>157</integer>
		<key>UnicodeCharEnd</key>
		<integer>157</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>162</integer>
		<key>UnicodeCharEnd</key>
		<integer>167</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>169</integer>
		<key>UnicodeCharEnd</key>
		<integer>174</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>176</integer>
		<key>UnicodeCharEnd</key>
		<integer>180</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>184</integer>
		<key>UnicodeCharEnd</key>
		<integer>190</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>192</integer>
		<key>UnicodeCharEnd</key>
		<integer>255</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>338</integer>
		<key>UnicodeCharEnd</key>
		<integer>339</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>352</integer>
		<key>UnicodeCharEnd</key>
		<integer>353</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>376</integer>
		<key>UnicodeCharEnd</key>
		<integer>376</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>381</integer>
		<key>UnicodeCharEnd</key>
		<integer>382</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>402</integer>
		<key>UnicodeCharEnd</key>
		<integer>402</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>710</integer>
		<key>UnicodeCharEnd</key>
		<integer>710</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>732</integer>
		<key>UnicodeCharEnd</key>
		<integer>732</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>1025</integer>
		<key>UnicodeCharEnd</key>
		<integer>1028</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>1031</integer>
		<key>UnicodeCharEnd</key>
		<integer>1036</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>1038</integer>
		<key>UnicodeCharEnd</key>
		<integer>1103</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>1105</integer>
		<key>UnicodeCharEnd</key>
		<integer>1107</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>1113</integer>
		<key>UnicodeCharEnd</key>
		<integer>1116</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>1118</integer>
		<key>UnicodeCharEnd</key>
		<integer>1119</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>1168</integer>
		<key>UnicodeCharEnd</key>
		<integer>1168</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>8211</integer>
		<key>UnicodeCharEnd</key>
		<integer>8212</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>8216</integer>
		<key>UnicodeCharEnd</key>
		<integer>8218</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>8220</integer>
		<key>UnicodeCharEnd</key>
		<integer>8222</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>8226</integer>
		<key>UnicodeCharEnd</key>
		<integer>8226</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>8230</integer>
		<key>UnicodeCharEnd</key>
		<integer>8230</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>8249</integer>
		<key>UnicodeCharEnd</key>
		<integer>8250</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>8352</integer>
		<key>UnicodeCharEnd</key>
		<integer>8352</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>8364</integer>
		<key>UnicodeCharEnd</key>
		<integer>8364</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>8470</integer>
		<key>UnicodeCharEnd</key>
		<integer>8470</integer>
	</dict>
	<dict>
		<key>UnicodeCharBegin</key>
		<integer>8482</integer>
		<key>UnicodeCharEnd</key>
		<integer>8482</integer>
	</dict>
</array>
</plist>
