<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
		<array>
			<dict>	<key>UnicodeCharBegin</key>	<integer>33</integer>		<key>UnicodeCharEnd</key>	<integer>125</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>161</integer>		<key>UnicodeCharEnd</key>	<integer>167</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>170</integer>		<key>UnicodeCharEnd</key>	<integer>173</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>176</integer>		<key>UnicodeCharEnd</key>	<integer>180</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>185</integer>		<key>UnicodeCharEnd</key>	<integer>255</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>273</integer>		<key>UnicodeCharEnd</key>	<integer>273</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>294</integer>		<key>UnicodeCharEnd</key>	<integer>295</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>305</integer>		<key>UnicodeCharEnd</key>	<integer>307</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>312</integer>		<key>UnicodeCharEnd</key>	<integer>312</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>321</integer>		<key>UnicodeCharEnd</key>	<integer>322</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>329</integer>		<key>UnicodeCharEnd</key>	<integer>331</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>338</integer>		<key>UnicodeCharEnd</key>	<integer>339</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>352</integer>		<key>UnicodeCharEnd</key>	<integer>353</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>358</integer>		<key>UnicodeCharEnd</key>	<integer>359</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>376</integer>		<key>UnicodeCharEnd</key>	<integer>376</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>402</integer>		<key>UnicodeCharEnd</key>	<integer>402</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>710</integer>		<key>UnicodeCharEnd</key>	<integer>710</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>730</integer>		<key>UnicodeCharEnd</key>	<integer>730</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>732</integer>		<key>UnicodeCharEnd</key>	<integer>732</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>913</integer>		<key>UnicodeCharEnd</key>	<integer>929</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>931</integer>		<key>UnicodeCharEnd</key>	<integer>937</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>945</integer>		<key>UnicodeCharEnd</key>	<integer>961</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>963</integer>		<key>UnicodeCharEnd</key>	<integer>969</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>1025</integer>		<key>UnicodeCharEnd</key>	<integer>1025</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>1040</integer>		<key>UnicodeCharEnd</key>	<integer>1068</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>1072</integer>		<key>UnicodeCharEnd</key>	<integer>1103</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>1105</integer>		<key>UnicodeCharEnd</key>	<integer>1105</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8211</integer>		<key>UnicodeCharEnd</key>	<integer>8212</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8216</integer>		<key>UnicodeCharEnd</key>	<integer>8216</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8218</integer>		<key>UnicodeCharEnd</key>	<integer>8218</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8220</integer>		<key>UnicodeCharEnd</key>	<integer>8222</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8226</integer>		<key>UnicodeCharEnd</key>	<integer>8226</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8229</integer>		<key>UnicodeCharEnd</key>	<integer>8230</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8240</integer>		<key>UnicodeCharEnd</key>	<integer>8240</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8249</integer>		<key>UnicodeCharEnd</key>	<integer>8250</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8308</integer>		<key>UnicodeCharEnd</key>	<integer>8308</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8319</integer>		<key>UnicodeCharEnd</key>	<integer>8319</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8321</integer>		<key>UnicodeCharEnd</key>	<integer>8324</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8352</integer>		<key>UnicodeCharEnd</key>	<integer>8352</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8364</integer>		<key>UnicodeCharEnd</key>	<integer>8364</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8451</integer>		<key>UnicodeCharEnd</key>	<integer>8451</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8457</integer>		<key>UnicodeCharEnd</key>	<integer>8457</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8467</integer>		<key>UnicodeCharEnd</key>	<integer>8467</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8481</integer>		<key>UnicodeCharEnd</key>	<integer>8481</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8486</integer>		<key>UnicodeCharEnd</key>	<integer>8486</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8491</integer>		<key>UnicodeCharEnd</key>	<integer>8491</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8531</integer>		<key>UnicodeCharEnd</key>	<integer>8532</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8539</integer>		<key>UnicodeCharEnd</key>	<integer>8542</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8544</integer>		<key>UnicodeCharEnd</key>	<integer>8552</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8560</integer>		<key>UnicodeCharEnd</key>	<integer>8568</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8704</integer>		<key>UnicodeCharEnd</key>	<integer>8704</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8707</integer>		<key>UnicodeCharEnd</key>	<integer>8707</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8712</integer>		<key>UnicodeCharEnd</key>	<integer>8712</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8715</integer>		<key>UnicodeCharEnd</key>	<integer>8715</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8719</integer>		<key>UnicodeCharEnd</key>	<integer>8719</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8721</integer>		<key>UnicodeCharEnd</key>	<integer>8721</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8730</integer>		<key>UnicodeCharEnd</key>	<integer>8730</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8734</integer>		<key>UnicodeCharEnd</key>	<integer>8734</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8743</integer>		<key>UnicodeCharEnd</key>	<integer>8748</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8756</integer>		<key>UnicodeCharEnd</key>	<integer>8757</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8786</integer>		<key>UnicodeCharEnd</key>	<integer>8786</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8800</integer>		<key>UnicodeCharEnd</key>	<integer>8801</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8804</integer>		<key>UnicodeCharEnd</key>	<integer>8805</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8834</integer>		<key>UnicodeCharEnd</key>	<integer>8835</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>8838</integer>		<key>UnicodeCharEnd</key>	<integer>8839</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>9312</integer>		<key>UnicodeCharEnd</key>	<integer>9320</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>9332</integer>		<key>UnicodeCharEnd</key>	<integer>9340</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>9372</integer>		<key>UnicodeCharEnd</key>	<integer>9397</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>9424</integer>		<key>UnicodeCharEnd</key>	<integer>9449</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>9742</integer>		<key>UnicodeCharEnd</key>	<integer>9743</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>9792</integer>		<key>UnicodeCharEnd</key>	<integer>9792</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>9794</integer>		<key>UnicodeCharEnd</key>	<integer>9794</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>9825</integer>		<key>UnicodeCharEnd</key>	<integer>9825</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>9829</integer>		<key>UnicodeCharEnd</key>	<integer>9829</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>12307</integer>		<key>UnicodeCharEnd</key>	<integer>12307</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>12353</integer>		<key>UnicodeCharEnd</key>	<integer>12435</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>12449</integer>		<key>UnicodeCharEnd</key>	<integer>12534</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>12593</integer>		<key>UnicodeCharEnd</key>	<integer>12643</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>12645</integer>		<key>UnicodeCharEnd</key>	<integer>12686</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>12800</integer>		<key>UnicodeCharEnd</key>	<integer>12828</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>12896</integer>		<key>UnicodeCharEnd</key>	<integer>12923</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>12927</integer>		<key>UnicodeCharEnd</key>	<integer>12927</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>13184</integer>		<key>UnicodeCharEnd</key>	<integer>13188</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>13192</integer>		<key>UnicodeCharEnd</key>	<integer>13224</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>13229</integer>		<key>UnicodeCharEnd</key>	<integer>13250</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>13252</integer>		<key>UnicodeCharEnd</key>	<integer>13252</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>13256</integer>		<key>UnicodeCharEnd</key>	<integer>13256</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>13258</integer>		<key>UnicodeCharEnd</key>	<integer>13258</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>13263</integer>		<key>UnicodeCharEnd</key>	<integer>13263</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>13267</integer>		<key>UnicodeCharEnd</key>	<integer>13267</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>13270</integer>		<key>UnicodeCharEnd</key>	<integer>13270</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>13272</integer>		<key>UnicodeCharEnd</key>	<integer>13272</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>44032</integer>		<key>UnicodeCharEnd</key>	<integer>55203</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>65281</integer>		<key>UnicodeCharEnd</key>	<integer>65282</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>65284</integer>		<key>UnicodeCharEnd</key>	<integer>65286</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>65288</integer>		<key>UnicodeCharEnd</key>	<integer>65291</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>65294</integer>		<key>UnicodeCharEnd</key>	<integer>65305</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>65309</integer>		<key>UnicodeCharEnd</key>	<integer>65309</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>65311</integer>		<key>UnicodeCharEnd</key>	<integer>65338</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>65340</integer>		<key>UnicodeCharEnd</key>	<integer>65340</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>65345</integer>		<key>UnicodeCharEnd</key>	<integer>65370</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>65504</integer>		<key>UnicodeCharEnd</key>	<integer>65505</integer>	</dict>
			<dict>	<key>UnicodeCharBegin</key>	<integer>65509</integer>		<key>UnicodeCharEnd</key>	<integer>65510</integer>	</dict>
		</array>
</plist>
